@charset "UTF-8";

h1 {
  padding-top: 10px;
  border-bottom-style: inset;
}

img {
  margin: 10px;
  padding: 5px;
  border-radius: 30px;
  border-color: aqua;
  border-style: groove;
  border-width: 0.5em;
}

.animaNum {
  padding: 0px;
  border-style: none;
}

.tarefa-selecionada {
  background-color: lightblue;
  color: red;
  font-style: italic;
}

.tarefa-normal {
  color: black;
}

.img.moeda1-00 {
  height: 84px;
  width: 84px;
  margin-bottom: 5px;
}

.img.moeda0-50 {
  height: 66px;
  width: 66px;
  margin-bottom: 5px;
}

.img.moeda0-25 {
  height: 76px;
  width: 76px;
  margin-bottom: 5px;
}

.img.moeda0-10 {
  height: 60px;
  width: 60px;
  margin-bottom: 5px;
}

.alinha-direita {
  text-align: right;
}

.exclui:hover {
  color: red;
  cursor: pointer;
}
