@charset "UTF-8";

body {
  font-family: arial;
  background-color: azure;
}

h1 {
  border-bottom-style: inset;
  border-color: blueviolet;
  color: blueviolet;
}

h3 {
  text-align: center;
  background-color: blueviolet;
  color: white;
  padding: 10px ;
}

h4 {
  text-align: right;
  color: blueviolet;
}

div {
  margin-top: 20px;
}

form {
  width: 300px;
  padding: 10px;
  border: 3px solid blueviolet;
  border-radius: 5px;
}