/* CSS do modal de Editar Venda */

#edit-venda {
  background-color: #161b22;
}

h3.titulo-modal {
  color: #ccc;
  padding-bottom: 10px;
}

#edit-buyer-name {
  color: rgb(242, 240, 240); 
  border: 1px solid #ccc;
}

#edit-total-value {
   color: rgb(242, 240, 240); 
   border: 1px solid #ccc;
}

   