@charset "UTF-8";

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: antiquewhite;
}
main {
  display: flex;
  flex-flow: row wrap;
}
.imagem {
  text-align: center;
  flex-basis: 250px;
}
img {
  float: left;
  height: 300px;
  width: 200px;
  border-radius: 20px;
}
.formulario {
  margin-top: 30px;
  flex-basis: 250px;
}
h1 {
  border-bottom-style: inset;
  border-color: black;
}
label {
  font-weight: bold;
}