* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
}

.conteudo-principal h1 {
  color: whitesmoke;
}

.conteudo-principal h6 {
  color: lightblue;
  font-size: small;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
}

.navbar ul {
  list-style: none;
  margin: auto;
  margin-left: 150px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.navbar li {
  margin-right: 30px;
}

.navbar a {
  color: lightcyan;
  text-decoration: none;
}

.navbar a:hover {
  color: aqua;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-lateral {
  background-color: rgb(14, 128, 128);
  color: #fff;
  padding: 1em;
  width: 160px;
  height: 100vh;
  position: fixed;
  top: 10;
  left: 0;
}
.menu-lateral ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.menu-lateral li {
  width: 8.2em;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  background-color: grey;
  margin-bottom: 10px;
}

.menu-lateral li:hover {
  background-color: black;
}

.menu-lateral a {
  color: lightblue;
  text-decoration: none;
}

.menu-lateral a:hover {
  color: aqua;
}

.conteudo-principal {
  background-color: rgb(14, 128, 128);
  vertical-align: middle;
  border-radius: 10px;
  flex: 1;
  padding: 2em;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 120px;
}

label {
  color: whitesmoke;
}

input[type="text"] {
  transition: transform 0.3s ease;
}

input[type="text"]:hover,
input[type="text"]:focus {
  transform: scale(1.05);
  border-color: #FF5722;
}

input[type="email"] {
  transition: transform 0.3s ease;
}

input[type="email"]:hover,
input[type="email"]:focus {
  transform: scale(1.05);
  border-color: #FF5722;
}

footer {
  background-color:#333;
  color: #fff;
  padding: 1em;
  text-align: center;
  clear: both;
}

@media (max-width: 768px) {
  .menu-lateral {
    position:static;
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
  }

  .navbar ul {
    flex-wrap: wrap;
    position: static;
    margin-left: 0px;
  }

  .conteudo-principal {
    margin-left: 0;
  }
}
