
div.titulo-form {
  display: flex;
  flex-flow: row wrap;
  margin: 20px auto 0px;
  width: 632px;
  height: 40px;
  background-color: #3a3f5f;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

div.titulo-form > h4 {
  margin: auto;
  font-size: large;
  color: rgb(179, 150, 98);
}

div.form-livro {
  display: flex;
  flex-flow: column wrap;
  width: 600px;
  margin: auto;
  border: 1px solid #223445;
  background-color: #2d2b41;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 15px;
}

div.campo {
  padding-bottom: 20px;
}

div.dois-campos {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

div.campo-um {
  width: 200px;
}

div.campo-dois {
  width: 100px;
}

input.class-ano {
  width: 170px;
}

input.class-preco {
  width: 390px;
}

/* Retirando as setinha dos campos number */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}


label {
  font-size: smaller;
  color: rgb(179, 150, 98);
  padding-right: 10px;
  padding-bottom: 5px;
}

input {
  border: none;
  width: 590px;
  padding: 8px;
  border-radius: 5px;
  background-color: #3d3d5e;
  color: white;
}

div.botoes {
  display: flex;
  flex-flow: row wrap;
  justify-content:center;
}

button.form-buttons {
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #223445;
  background-color: #007BFF;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  width: 100px;
  height: 45px;
}

button.red-button:hover {
  background-color: lightcoral;
  color: white;
  border-radius: 15px;
}

button.green-button:hover {
  background-color: rgb(75, 155, 75);
  color: white;
  border-radius: 15px;
}

div.imagem {
  text-align: center;
}

img.figura {
  margin-top: 50px;
  display: inline-block;
  width: 300px;
}

div.msg-success {
  width: 600px;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  background-color: lightgreen;
  color:#363f90;
  border: 1px solid green;
  border-radius: 5px;
}

div.msg-error {
  width: 600px;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  background-color: lightcoral;
  color: #363f90;
  border: 1px solid red;
  border-radius: 5px;
}

@media screen and (max-width: 600px) {

  div.titulo-form {
    display: flex;
    flex-flow: column wrap;
    width: 94%;
  }

  div.form-livro {
    display: flex;
    flex-flow: column wrap;
    width: 87%;
  }

  input {
    width: 90%;
  }

  div.dois-campos {
    display: flex;
    flex-flow: row wrap;
    width: 92%;
    justify-content: space-between;
  }


  div.campo-dois {
    width: 80px;
  }

  input.class-ano {
    width: 70%;
  }

  input.class-preco {
    width: 90%;
  }

  div.botoes {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  button.form-buttons {
    margin-left: 15px;

}

div.msg-success {
  width: 90%;
}

div.msg-error {
  width: 90%;
}

img.figura {
  width: 200px;
}
