@charset "UTF-8";

header {
  padding: 10px;
  background-color: darkgreen;
  color: white;
}

header > h1 {
  text-align: center;
}

main {
  margin-top: 10px;
  display: flex;
  flex-direction: column;

}

.menu {
  flex-wrap: wrap;
  padding: 10px 0px;
}

.formulario {
  flex-wrap: wrap;
}

label {
  font-weight: bold;
}

h1 {
  padding-top: 10px;
  border-bottom-style: inset;
}

h5 {
  font-style: italic;
}

h6 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.icone {
  width: 17px;
}

.icone:hover {
  cursor: pointer;
}

pre {
  font-style: italic;
  font-size: 1.1em;
}

figure {
  display: inline-block;
  font-size: 0.8em;
  margin-right: 5px;
}

.poltrona {
  width: 24;
  height: 12px;
}

.entre-letras {
  letter-spacing: 0.5em;
} 

.corFundo {
  background-color: lightgreen;
}


