@charset "UTF-8";

h1 {
  padding-top: 10px;
  border-bottom-style: inset;
}

h5 {
  font-style: italic;
}

h6 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

pre {
  font-style: italic;
  font-size: 1.1em;
}


